version: '3.9'

services:
  app:
    image: node:19-buster-slim
    restart: always
    depends_on:
        - db
        - redis
    volumes:
        - ./be/:/app/
    ports:
        - "3000:3000"
    environment:
      MONGO_URI: "db"
      REDIS_URI: "redis"
      REDIS_PORT: "6379"
    working_dir: /app
    command: bash -c "npm install && npm run dev"
    secrets:
      - root_id
      - root_pw

  db:
    image: mongo:6.0.2-focal
    restart: always
    volumes:
      - mongodb-data:/data/db
    ports:
      - "27017:27017"
    environment:
      TZ: "Asia/Seoul"
      MONGO_INITDB_ROOT_USERNAME_FILE: /run/secrets/root_id
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/root_pw
      MONGO_DB: mongoose
    secrets:
      - root_id
      - root_pw

  redis:
    image: redis:7.0.5-bullseye
    restart: always
    environment:
      TZ: "Asia/Seoul"

volumes:
  mongodb-data:

secrets:
  root_id:
    file: ./mongo_root_id.txt
  root_pw:
    file: ./mongo_root_pw.txt
